@font-face  {
    font-family:  'icomoon';
    src:  url("../fonts/icomoon.eot?i66uhl");
    src:  url("../fonts/icomoon.eot?i66uhl#iefix") format("embedded-opentype"),  url("../fonts/icomoon.ttf?i66uhl") format("truetype"),  url("../fonts/icomoon.woff?i66uhl") format("woff"),  url("../fonts/icomoon.svg?i66uhl#icomoon") format("svg");
    font-weight:  normal;
    font-style:  normal;
    font-display:  block;
}
