.app-restaurant{
    background-color: #FFEDDE; 
    .wrapper__app-restaurant{
        max-width: 1450px;
        margin: 0px 275px;
    }    
    .block__content{
        display: flex;
        align-items: center;
        .description__app{
            flex: 1;
            .content__description-app{
                max-width: 450px;
            }
            h1{
                font-weight: 500;
                font-size: 48px;
                line-height: 62px;
                text-transform: capitalize;
                color: #2E266F;
                position: relative;
                &::after{
                    content: "";
                    background-color: $green;
                    height: 126px;
                    width: 25px;
                    position: absolute;
                    left: -45px;
                    top: 0px;
                }
            }
            p{
                font-size: 14px;
                line-height: 24px;
                text-transform: capitalize;
                color: #707070;
            }
            .bottom__images {

                img:first-child{
                    padding-right:  20px;
                }
                img{
                    padding-top: 30px;
                }
            }
        }
        .big__image-app{
            flex: 0;
            .image__phone{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    z-index: 2;
                    right: 134px;
                    background: url('../img/lettuce-big.png') no-repeat;
                    height: 687px;  
                    width: 677px;
                    transform: rotate(13deg);
                }
            }
            img{
                max-height: 956px;
                z-index: 5;
                position: relative;
            }
        }
    }
}

@media only screen and(max-width: 1725px){
    .app-restaurant .wrapper__app-restaurant{
        margin: 0 auto;
    }
}

@media only screen and(max-width: 1550px){
    .app-restaurant .block__content .description__app{
        margin-left: 75px;
    }
}

@media only screen and(max-width: 1350px){
    .app-restaurant .block__content .big__image-app .image__phone::after{
        width: 586px;
    }
    .app-restaurant .block__content .big__image-app img{
        height: 800px;
    }
}

@media only screen and(max-width: 1095px){
    .app-restaurant .block__content .big__image-app .image__phone::after{
        width: 430px;
        bottom: 116px;
    }
    .app-restaurant .block__content .big__image-app img {
        height: 680px;
    }
}

@media only screen and(max-width: 940px){
    .app-restaurant .block__content .big__image-app img {
        height: 510px;
    }
    .app-restaurant .block__content .big__image-app .image__phone::after{
        background-size: cover;
        transform: rotate(346deg);
        height: 466px;
        width: 375px;
        right: 66px;
        bottom: 44px;
    }
}
@media only screen and(max-width: 830px){
    .app-restaurant .block__content .description__app .content__description-app {
        max-width: 353px;
    }
}


@media only screen and(max-width: 625px){
    .app-restaurant .block__content{
        flex-direction: column;
    }
    .bottom__images{
        display: flex;
    }
    .app-restaurant .block__content .description__app .content__description-app {
        max-width: 400px;
    }
    .app-restaurant .block__content .description__app .bottom__images img{
        width: 37%;
    }
}

