.food__items{
    max-width: 1420px;
    margin-top: 78px;
    .slick-initialized .slick-slide{
        // margin: 0 -83px;
        position: relative !important;
        margin: 0 3px;
    }
    .food__item {
        max-width: 500px;
        position: relative;
    }
    .dishes__slider .slick-slide:nth-child(even)::before{
        content: "";
      background-image: url('../img/dots-dish.svg');
      position: absolute;
      height: 386px;
      width: 316px;
      z-index: -1;
    //   left: 213px;
    // top: 213px;
    left: 353px;
    top: 344px;
      display: block;
    }
    .dishes__slider .slick-slide:nth-child(odd)::before{
        content: "";
      background-image: url('../img/dots-top.svg');
      background-repeat: no-repeat;
      position: absolute;
      height: 49px;
      width: 315px;
      z-index: -1;
      top: 0;
      display: block;
    }
    .food__item img{
        // width: 500px;
        width: 638px;
        margin-top: 61px;
    }
    .text__food-item{
        position: relative;
        bottom: 216px;
        padding: 30px 45px;
        width: 550px;
        background-color:  rgba(53, 205, 140, .5);
        color: #FFFFFF;
        border-radius: 0 0 26px 26px;
        .title__food-item{
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        }
        .paragraph__food-item{
            font-size: 14px;
            line-height: 24px;
        }
        .location__food-item{
            font-size: 14px;
            line-height: 24px;
            left: 20px;
            position: relative;
            &::before{
                content: "";
                background-image: url('../img/location.svg');
                width: 20px;
                height: 25px;
                position: absolute;
                bottom: -1px;
                left: -24px;
            }
        }
        .btn__book-now{
        background: #FFFFFF;
        border-radius: 100px 0px 0px 100px;
        color: $green;
        width: 208px;
        height: 58px;
        opacity: 1;
        position: relative;
        // left: 161px;
        left: 303px;
        cursor: pointer;
        border: unset;
        outline: none;
        }
    }
    .prev__arrow-slider{
        border: none;
        outline: none;
    }
    .prev__arrow-slider::before{
content: "";
background-image: url('../img/arrow-dishes.svg');
background-repeat: no-repeat;
position: absolute;
display: block;
width: 98px;
height: 40px;
right: -250px;

// top: 303px;
top: 408px;
bottom: 0;
z-index: 9999;
cursor: pointer;
    }
}

@media only screen and(max-width: 1750px) and (min-width: 1650px){
    .food__items .prev__arrow-slider::before{
        right: -150px;
    }
}
@media only screen and(max-width: 1650px) and (min-width: 300px){
    .food__items .prev__arrow-slider::before{
        right: -100px;
    }
}
@media only screen and(max-width: 1500px) and (min-width: 300px){
    .food__items .prev__arrow-slider::before{
        right: -60px;
    }
}