footer {
    background-color: $beige;
    position: relative;
    .text__notified{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 272px 0;
    max-width: 555px;
    text-transform: capitalize;
    margin: 0 auto;
    h1{
        font-weight: normal;
        font-size: 36px;
       line-height: 48px;
    }
        p {
        font-size: 14px;
        line-height: 24px;
        color: #707070;
    }
    input {
        border: none;
        outline: none;
        background: #FFFFFF;
        box-shadow: 2px 2px 30px 2px #FFF5EC;
        border-radius: 100px;
        width: 544px;
        height: 90px;
        text-indent: 35px;
    }
    .list__footer-links{
        margin-top: 70px;
        a{
            padding: 0 20px;
            font-size: 16px;
            color: #707070;
            text-transform: capitalize;
            line-height: 24px;
        }
    }



 }
//  .sprout{
//     position: relative;
//     right: 133px;
//      img{
//         position: absolute;
//         top: 76px;
//      }
//  }
.sprout {
    background: url('../img/sprout.png') no-repeat;
    // height: 856px;
    // width: 800px;
    // position: absolute;
    // left: 0;
    // top: 94px;
    // margin: 0;
    // padding: 0;
    // height: 878px;
    height: 874px;
    width: 800px;
    position: absolute;
    left: 0;
    // top: 75px;
    top: 76px;
    margin: 0;
    padding: 0;

}
}