footer {
    background-color: $beige;
    position: relative;
    .text__notified{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 272px 0;
    max-width: 555px;
    text-transform: capitalize;
    margin: 0 auto;
    position: relative;
    h1{
        font-weight: normal;
        font-size: 36px;
       line-height: 48px;
    }
        p {
        font-size: 14px;
        line-height: 24px;
        color: #707070;
    }
    input {
        border: none;
        outline: none;
        background: #FFFFFF;
        box-shadow: 2px 2px 30px 2px #FFF5EC;
        border-radius: 100px;
        width: 544px;
        height: 90px;
        text-indent: 35px;
    }
    .list__footer-links{
        margin-top: 70px;
        a{
            padding: 0 20px;
            font-size: 16px;
            color: #707070;
            text-transform: capitalize;
            line-height: 24px;
        }
    }

 }
 .social__links{
    display: flex;
    justify-content: right;
    color: #000000;
    font-size: 14px;
    line-height: 24px;

}
.social__icons-footer{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: relative;
    bottom: 15px;
    margin-right: 98px;
    li{
        padding: 0 5px;
    }
}
.sprout {
    background: url('../img/sprout.png') no-repeat;
    height: 874px;
    width: 800px;
    position: absolute;
    left: 0;
    // top: 99px;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.btn__email-footer{
width: 56px;
height: 56px;
background: $green;
border-radius: 50%;
position: absolute;
right: 26px;
top: 513px;
cursor: pointer;
&::after{
    content: "";
    background-image: url('../img/arrow-footer.svg');
    position: relative;
    top: 19px;
    left: 14px;
    display: block;
    width: 24px;
    height: 18px;
}
}
}