
header{
max-height: 124px;
display: flex;
justify-content: space-between;
// align-items: center;
margin: 0 59px;
nav{
    display: flex;
    align-items: center;
    margin-right: 16em;
    ul{    
        display: flex;
        justify-content: center;
        list-style: none;
        margin-left: 12px;
        .nav__item{
         min-width: 25px;
         padding: 0 45px;
         font-size: 16px;
         line-height: 24px;
         &:last-child{
             padding-right: 0;
         }
        }
    }
}
.logo__header{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 108px;
text-align: center;
color: $green; 
}
.user__icon{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background: #FFFFFF;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 25px;
    img{
        padding-top: 9px;
        padding-left: 11px;
    }
    &:before{
        content: "";
        position: absolute;
        bottom: 38px;
        left: 39px;
        border-radius: 50%;
        display: block;
        background-color: #31A24C;
        height: 15px;
        width: 15px;
    }
    .user__name{
        padding-left: 23px;
        position: relative;
        cursor: pointer;
        &:after{
            content: "";
            background-image: url('../img/arrow-down.svg');
            width: 10px;
            height: 5px;
            bottom: 8px;
            right: -15px;
            position: absolute;
        }
    }
}
&::before{
    content: "";
    width: 514px;
    height: 1214px;
    background-color: #35CD8C;
    position: absolute;
    z-index: -1;
    right: 0;
 }
}

@media(max-width: 1652px) {
    header{
        justify-content: unset;
    }
}
@media(max-width: 1484px) {
    header nav ul .nav__item{
        padding: 0 28px;
    }
    header nav{
        margin-right: 10em;
    }
}
@media(max-width: 1280px) {
    header nav ul{
        margin-left: -35px;
    }
    header::before{
        width: 23% !important;
    }
}
