header{
max-height: 124px;
display: flex;
justify-content: space-between;
// align-items: center;
margin: 0 59px;
nav{
    display: flex;
    align-items: center;
    margin-right: 16em;
    ul{    
        display: flex;
        justify-content: center;
        list-style: none;
        margin-left: 12px;
        .nav__item{
         min-width: 25px;
         padding: 0 45px;
         font-size: 16px;
         line-height: 24px;
         &:last-child{
             padding-right: 0;
         }
        }
    }
}
.logo__header{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 108px;
text-align: center;
color: $green; 
}
.user__icon{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background: #FFFFFF;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 25px;
    img{
        padding-top: 9px;
        padding-left: 11px;
    }
    &:before{
        content: "";
        position: absolute;
        bottom: 38px;
        left: 39px;
        border-radius: 50%;
        display: block;
        background-color: #31A24C;
        height: 15px;
        width: 15px;
    }
    .user__name{
        padding-left: 23px;
        position: relative;
        cursor: pointer;
        &:after{
            content: "";
            background-image: url('../img/arrow-down.svg');
            width: 10px;
            height: 5px;
            bottom: 8px;
            right: -15px;
            position: absolute;
        }
    }
}
&::before{
    content: "";
    width: 514px;
    height: 1214px;
    background-color: #35CD8C;
    position: absolute;
    z-index: -1;
    right: 0;
 }
}
.hamburger {
    display: none;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: $beige;
    text-transform: none;
    margin: 0;
    overflow: visible;
    width: 50px;
    height: 32px;
}

.hamburger-box {
    width: 50px;
    height: 32px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: 0;
}

.hamburger-inner,
.hamburger-inner::before {
    width: 50px;
    height: 6px; 
    position: absolute;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    content: "\e908";
    color: $beige;
    font-size: 6px;
    display: block;
    font-family: "icomoon";
}
 
.hamburger-inner:nth-child(1) {
    top: 0;
}
.hamburger-inner:nth-child(2) {
    top: 50%;
    margin-top: -3px;
}
.hamburger-inner:nth-child(3) {
    top: 100%;
    margin-top: -6px;
}
.is-active .hamburger--collapse .hamburger-inner:nth-child(2) {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -3px;
}
.is-active .hamburger--collapse .hamburger-inner:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -3px;
}

.is-active .hamburger--collapse .hamburger-inner:nth-child(3) {
    opacity: 0;
}

body.menu-open{
    overflow: hidden;
    height: 100vh;
}

.mobile__menu{
    display: none;
}

.mobile-trigger {
    display: block;
    margin-left: 25px;
}



@media(max-width: 1652px) {
    header{
        justify-content: unset;
    }
}
@media(max-width: 1484px) {
    header nav ul .nav__item{
        padding: 0 28px;
    }
    header nav{
        margin-right: 10em;
    }
}

@media(max-width: 1280px) {
    header nav ul{
        margin-left: -35px;
    }
 
}

@media only screen and (max-width: 1562px) and (min-width:1280px){
    header::before{
        width: 30%;
    }
}
@media only screen and (max-width: 1289px) and (min-width:1115px){
    header::before{
        width: 30% !important;
    }
}
@media only screen and (max-width: 1115px) and (min-width:900px){
    header::before{
        width: 30% !important;
    }
}
@media only screen and (max-width: 1024px) and (min-width:900px){
    header::before{
        width: 36% !important;
        right: -73px;
    }
}
@media only screen and (max-width: 900px){
    header::before{
        right: -74px;
        width: 39% !important;
    }
}

@media(max-width: 1185px) {
    header nav ul .nav__item {
        padding: 0 10px;
    }
}
@media screen and (max-width: 1084px){
    header nav {
        margin-right: 5em;
    }
}
@media screen and (max-width: 1024px){
    header .user__icon{
        display: none;
    }
  .desktop_menu{
    display: none; 
  }
  .hamburger{
      display: inline-block;
  }
  header{
      position: relative;
  }
  .mobile-trigger{
    position: absolute;
    left: 94%;
    top: 51px;
  }
  .header-nav {
    height: calc(60vh - 106px);
    padding: 20px 0;
    overflow: auto;
    width: 100%;
    max-width: 375px;
    right: -750px;
    left: auto;
    top: 10%;
    position: fixed;
    transition: all 0.2s linear;
    background: $green;
    padding: 11px 0px 17px 0;
    z-index: 99999;
}
.header-nav.active {
    right: 0;
}
.header-nav ul{
  text-align: center;
  list-style-type: none ;
}
.nav__item{
    width: 100%;
    padding: 25px 0 ;
    border-bottom: 1px solid #fff;
}
.nav__item a {
    color: $beige ;
    font-size: 30px;
}

.header-nav .mobile__menu{
    display: block;
}
  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
  }
  .hamburger-inner:nth-child(3):before{
    font-size: 4px !important;
    direction: rtl;
    // right: 8px;
  }
} 

@media (min-width: 1024px){
    .mobile__menu{
        display: none;
    }
}

@media (min-width: 695px) {
    header::before {
        right: -112px;
        width: 47% !important;
    }
}
@media (min-width: 599px) {
    header::before{
        height: 1312px;
    }
}
