.location{
background: #35CD8C;
border-radius: 0px 100px 100px 0px;
max-width: 280px;
height: 62px;
position: relative;
bottom: 116px;
    .location__name{
        color: #fff;
        font-weight: 500;
        font-size: 30px;
        line-height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        bottom: 12px;
        position: relative;
        &::before{
            content: "";
            background-image: url('../img/location.svg');
            width: 20px;
            height: 25px;
            position: absolute;
            left: 37px;
        }
    }
}
@media(max-width: 1562px) {
 .location{
     bottom: unset;
 }
}