.services__schema{
    background: url('../img/schema__booking.png') no-repeat;
    min-height: 962px;
    width: 100%;
    margin-top: 162px;
    .items__blocks{
        display: flex;
        flex-direction: column;
    }
    .advanced-first__table{
        position: relative;
        max-width: 1000px;
        .advanced__table-text{
            position: absolute;
            top: 55%;
            right: 157px;
            max-width: 281px;
            .title__advanced-service{
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                text-transform: capitalize;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 10px;
                    left: 117px;
                    width: 84px;
                    height: 3px;
                    background-color: $green;
                }
                &::before{ 
                    content: "";
                    background-image: url('../img/lineArrow.svg');
                    position: absolute;
                    top: 45px;
                    right: 105px;
                    width: 183px;
                    height: 16px;
                }
            }
            p{
                font-size: 14px;
                line-height: 24px;
                color: #707070;
            }
        }
    }
    .advanced__table{
        height: 380px;
        width: 390px;
        position: relative;
        background-color: #FFEDDE;
        top: 112px;
        &::after{
            content: "";
            background-image: url('../img/advanced-table.svg');
            background-repeat: no-repeat;
            height: 199px;
            width: 199px;
            position: absolute;
            right: 0;
            left: 0;
            top: 77px;
            margin: 0px auto;
            bottom: 0;
            display: block;
        }
    }
    .advanced-second__table{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        max-width: 868px;
        .advanced__table-text{
            position: absolute;
            top: 64%;
            left: 0;
            max-width: 281px;
            .title__advanced-service{
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                text-transform: capitalize;
                position: relative;
                color: #2E266F;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    width: 84px;
                    height: 3px;
                    background-color: $green;
                }
                &::after{ 
                    content: "";
                    background-image: url('../img/long-arrow.svg');
                    
                    position: absolute;
                    top: 45px;
                    left: 244px;
                    z-index: 9999;
                    transform: rotate(360deg);
                    right: 29px;
                    width: 267px;
                    height: 16px;
                }
            }
            p{
                font-size: 14px;
                line-height: 24px;
                color: #707070;
            }
            .number__title{
                padding-left: 104px;
            }
        }
        .advanced__plate{
            height: 380px;
            width: 390px;
            position: relative;
            background-color: #FFEDDE;
            top: 112px;
            &::after{
                content: "";
                background-image: url('../img/plate-icon.svg');
                background-repeat: no-repeat;
                height: 199px;
                width: 199px;
                position: absolute;
                right: 0;
                left: 0;
                top: 116px;
                margin: 0px auto;
                bottom: 0;
                display: block;
            }
        }
    }
    .advanced-big__box{
        display: flex;
        justify-content: end;
        position: absolute;
        // bottom: 0;
        top: 112px;
        right: 0;
        .advanced-big__icon{
            // height: 550px;
            height: 759px;
            width: 462px;
            background-color: #FFEDDE;
            .scooter{
                position: relative;
                top: 163px;
              &::after{
                content: "";
                background-image: url('../img/scooter.svg');
                background-repeat: no-repeat;
                width: 322px;
                height: 242px;     
                position: relative;
                display: block;
                margin: 0 auto;
              }
            }   
            .text-big__box{
                padding: 245px 109px 0 109px;
                text-align: center;
                .title__big-box{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    text-transform: capitalize;
                }
                p{
                    color: #707070;
                    font-size: 14px;
                    line-height: 24px;
                    &::after{
                        content: "";
                        display: block;
                        position: relative;
                        top: 20px;
                        left: 26px;
                        width: 192px;
                        height: 3px;
                        background-color: $green;
                    }
                }
            }
        }
    }
    .services__wrapper{
        position: relative;
    }
}


@media only screen and(max-width: 1680px){
    .items__blocks{
        margin-left: 30px;
    }
    .services__schema .advanced-big__box{
        right: 30px;
    }
}
@media only screen and(max-width: 1500px){
    .services__schema .advanced__table{
        width: 271px;
        height: 275px;
    }
    .services__schema .advanced-second__table .advanced__plate{
        width: 271px;
        height: 275px;
    }
    .services__schema .advanced-second__table{
        max-width: 639px;
    }
    .services__schema .advanced-first__table .advanced__table-text{ 
        top: 69%;
        right: 318px;
    }
    .services__schema .advanced-second__table .advanced__table-text .title__advanced-service::after{
        content: "";
        background-image: url(../img/lineArrow.svg);
        position: absolute;
        top: 45px;
        left: 207px;
        width: 183px;
        height: 16px;
        transform: rotate(180deg);
        background-repeat: no-repeat;
    }
    .services__schema .advanced-second__table .advanced__plate::after{
        top: 50px;
    }
    .services__schema .advanced-big__box .advanced-big__icon{
        height: 550px;
    }
    .services__schema .advanced-big__box .advanced-big__icon .scooter{
        top: 65px;
    }
    .services__schema .advanced-big__box .advanced-big__icon .text-big__box{
        padding: 112px 109px 0 109px;
    }
    .services__schema .advanced__table::after{
        top: 26px;
    }
}


@media only screen and(max-width: 1230px){
    .services__schema .advanced-big__box .advanced-big__icon{
        width: 372px;
    }
    .services__schema .advanced-big__box .advanced-big__icon .text-big__box {
        padding: 112px 44px 0 44px;
    }
    .services__schema .advanced-big__box .advanced-big__icon .text-big__box p::after{
        left: 45px;
    }
    .services__schema .advanced-second__table{
        max-width: 543px;
    }
    .services__schema .advanced-second__table .advanced__table-text .title__advanced-service::after{
        left: 165px;
    width: 141px;
    }
    .services__schema .advanced-first__table .advanced__table-text{
        right: 371px;
    }
    .services__schema .advanced-first__table .advanced__table-text .title__advanced-service::before{
        right: 95px;
        width: 137px;
    }
}
@media only screen and(max-width: 1050px){
    .services__schema .advanced-first__table .advanced__table-text{
        right: 0px;
        left: 345px;
        max-width: 281px;
    }
    .services__schema .advanced-first__table{
        max-width: 543px;
    }
    .services__schema .advanced-big__box{
        bottom: 0;
        top: 100px;
        position: relative;
        margin: 0 auto;
        max-width: 464px;
    }
    .services__schema {
        margin-top: unset;
        min-height: unset;
    }
    .services__schema .items__blocks {
        margin: 0 auto;
        max-width: 550px;
        margin-top: 56px;
        margin-bottom: 41px;
    }
}

.services__schema .advanced__table img{
    display: none;
  } 
  .advanced__plate img {
    display: none;
  }
@media only screen and(max-width: 599px){
    .services__schema .advanced-second__table .advanced__table-text{
        // left: 24px;
        margin: 0 auto;
        max-width: 185px;

    }
    .services__schema .advanced-second__table .advanced__table-text .title__advanced-service::after {
        left: 169px;
        width: 76px;
    }
    .services__schema{
        background-image: unset;
    }
    .services__schema .items__blocks{
        margin: 0 20px;
    }
    .services__schema .advanced__table::after{
       background-image: unset;
    }

    .services__schema .advanced__table img{
      width: 112px;
      display: block;
      margin: 0 auto;
      position: relative;
      right: 0;
      left: 0;
      top: 70px;
      bottom: 0;
    } 
    .advanced__table-bg{
         text-align: center;
    }
    .services__schema .advanced-first__table .advanced__table-text{
        left: 150px;
    position: relative  ;
    bottom: 88px;
    margin: 0 auto;
    max-width: 185px;
    }
    .services__schema .advanced-first__table .advanced__table-text .title__advanced-service::before {
        // right: 100px;
        right: 178px;
        width: 90px;
    }
    .services__schema .advanced-first__table .advanced__table-text .title__advanced-service::after{
        left: 172px;
    width: 25px;
    }
    .services__schema .advanced-second__table .advanced__plate img{
        display: block;
        width: 112px;
        display: block;
        margin: 0 auto;
        position: relative;
        right: 0;
        left: 0;
        top: 91px;
        bottom: 0;
    }
    .services__schema .advanced-second__table .advanced__plate::after{
        background-image: unset;   
    }
    .services__schema .advanced-second__table{
        bottom: 141px;
    }
    .services__schema .advanced-big__box{
        top: 0;
    }
}

@media only screen and (max-width: 535px){
    .services__schema .advanced-second__table .advanced__table-text .title__advanced-service::before{
        width: 40px;
    }
    .services__schema .advanced-second__table .advanced__table-text .number__title{
        padding-left: 50px;
    }
    .services__schema .advanced-first__table .advanced__table-text .title__advanced-service{
        font-size: 20px;
    }
    .services__schema .advanced-second__table .advanced__table-text .title__advanced-service{
        font-size: 20px;
    }
    .services__schema .advanced-first__table .advanced__table-text .title__advanced-service::before{
        right: 82px;
        width: 54px;
    }
    .services__schema .advanced-first__table .advanced__table-text .title__advanced-service::after{
        left: 87px;
    }
    .services__schema .advanced-second__table .advanced__plate {
        width: 214px;
        height: 230px;
        margin-right: 35px;
    }
    .services__schema .advanced-second__table .advanced__plate img{
        top: 63px;
    }
    .services__schema .advanced__table{
        width: 214px;
        
        height: 230px;
    }
    .services__schema .advanced-first__table .advanced__table-text{
        left: 104px;
        position: relative;
        bottom: 44px;
        margin: 0 auto;
        max-width: 188px;
    }
    .services__schema .advanced-first__table .advanced__table-text .title__advanced-service::before{

    }
}  