.wrapper__services-text{
   max-width: 1645px;
   min-width: 320px;
   padding: 0;
   box-sizing: border-box;
   margin: 0 auto;
   .services__text-container{
    padding: 200px 349px 0 0;
    .services__content{
        display: flex;
        justify-content: center;
        .title__services{
        flex: 1 1;
        font-weight: 500;
        font-size: 48px;
        line-height: 62px;
        text-transform: capitalize;
        padding-right: 126px;
        padding-left: 53px;
        position: relative;
        padding-top: 33px;
        &::after{
            content: "";
            background-color: rgb(53, 205, 140);
            height: 126px;
            width: 25px;
            position: absolute;
            left: 0px;
            top: 0px;
        }
    }
    .description__services{
        flex: 1;
        font-size: 14px;
        line-height: 24px;
        text-transform: capitalize;
        color: #707070;
        position: relative;
        top: 32px;
     }
    }
   } 
} 
@media only screen and (max-width: 1500px) and(min-width: 300px){
    .wrapper__services-text .services__text-container {
        padding: 0px 39px 0 0;
    }
}

@media only screen and (max-width: 1686px) and(min-width: 300px){
    .wrapper__services-text .services__content{
            padding: 105px 43px;
    }
  }
  @media only screen and (max-width: 905px){
    .wrapper__services-text .services__text-container .services__content .title__services {
        padding-top: 0px;
    }
  }
  @media only screen and (max-width: 855px){
    .wrapper__services-text .services__text-container .services__content .description__services{ 
        flex: unset;
    }
  }
@media(max-width: 786px){
    .wrapper__services-text .services__text-container .services__content .title__services{
        padding-right: 49px;
    }
}
@media(max-width: 676px){
    .wrapper__services-text .services__text-container .services__content .title__services{
        padding-left: 37px;
    }
}
@media only screen and (max-width: 599px) and(min-width: 300px){
    .wrapper__services-text .services__text-container .services__content{
        flex-direction: column;
    }
    .wrapper__services-text .services__text-container .services__content .title__services{
        padding-top: 28px;
    }
    .wrapper__services-text .services__text-container{
        padding: 0;
    }
}
@media only screen and (max-width: 472px) and(min-width: 100px){
    .wrapper__services-text .services__text-container .services__content .title__services{
        padding-top: 0;
    }
}
