.slider__block{
    display: flex;
    .slider__item{
        position: relative;
        bottom: 101px;
        &::before{
            content: "";
            background-image: url('../img/dots-slider.png');
            position: absolute;
            height: 645px;
            width: 451px;
            z-index: -1;
            bottom: 75px;
}
    }
    .slider{
        max-width: 766px;
        img{
    max-width: 100%;
    width: auto;
        }
    }
}
.text__slider{
    padding: 0;
    margin: 0 45px;
    max-width: 766px;
    max-height: 450px;
    position: relative;
    .main__title-slider{
        font-family: Poppins;
        font-style: normal;
        font-weight: 900;
        font-size: 200px;
        line-height: 300px;
        text-transform: capitalize;
        opacity: 0.05; 
    }
    .sub__title-slider{
        text-transform: capitalize;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 90px;
        line-height: 90px;
        color: $violet;
        position: relative;
        bottom: 63px;
    }
    .search__food{
        width: 673px;
        height: 90px;
        border: none;
        outline: none;
        padding: 50px;
    }
    .search__food::placeholder{
      color: $violet;
      font-size: 18px;
      line-height: 90px;
      font-family: Poppins;
      text-transform: capitalize;
    }  
    .input__btn{
        position: relative;
    }
    .search__btn{        
        background-color: $green;
        border: none;
        outline: none;
        color: $beige;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
        border-radius: 60px 0px 0px 0px;
        // justify-content: center;
        // display: flex;
        // position: absolute;
        // bottom: 89px;
        // left: 286px;
        // width: 200px;
        // height: 72px;
             // margin-left: 75%;
        position: relative;
        bottom: 80px;
        cursor: pointer;
        display: inline-block;
        max-width: 200px;
        height: 72px;
        margin: 0 15% 0 73%;
        &:hover{
            &:after{
                opacity: 1;
                transform: translateY(0) rotateX(0);
              }
              &:before{
                opacity: 0;
                transform: translateY(50%) rotateX(90deg);
              }
        }
        &:after{
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            color: $beige;
            display: block;
            transition: all .5s;
            position: absolute;
            background-color: $green;
            content: attr(data-back);
            border-radius: 60px 0px 0px 0px;
            transform: translateY(-50%) rotateX(90deg);
            height: 72px;
            line-height: 73px;
            // padding: 0 20px;
            padding: 0 0px 0 11px;
            font-size: 23px;
}
          &:before{
            top: 0;
            left: 0;
            opacity: 1;
            color: $beige;
            display: block;
            padding: 0 30px;
            line-height: 73px;
            transition: all .5s;
            position: relative;
            background-color: $green;
            content: attr(data-front);
            border-radius: 60px 0px 0px 0px;
            transform: translateY(0) rotateX(0);
            height: 72px;
            // padding: 0 20px;
          }
    }
}
.slider{
    position: relative;
    button{
        background-color: transparent;
        border: none;
        outline: 0;
        margin: 0;
        padding: 0;
    }


}

.prev__arrow-header::after{
    content: "";
    background-image: url('../img/arrow-right.svg');
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 66px;
    height: 45px;
    right: 30px;
    z-index: 9999;
    bottom: 125px;
}
.next__arrow-header::before{
    content: "";
    background-image: url('../img/arrow-left.svg');
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 66px;
    height: 45px;
    z-index: 9999;
    bottom: 125px;
    right: 128px;
}
.container__btn-search{
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 25px;
}


@media(max-width: 1562px){
    .slider__block .slider {
        max-width: 667px;
        margin-left: 7%;
    }
    .text__slider{
        max-width: 667px;
        margin: 0 40px;
    }
    .slider__block .slider__item::before{
        width: 185px;
    }
    .slider__block .slider__item{
        bottom: unset;
    }
    .text__slider .sub__title-slider{
        font-size: 3em;
        white-space: nowrap;
        z-index: 9999;
    }
    .text__slider .search__food{
        width: 572px;
        max-width: 400px;
    }
    .text__slider .search__btn{
        width: 22%;
        right: 85px;
    }
}
@media only screen and (max-width: 1562px) and (min-width: 1283px){
    .prev__arrow-header::after,
    .next__arrow-header::before {
        bottom: 50px;
    }
}
@media(max-width: 1385px){
    .slider__block .slider {
        margin-left: 0;
    }
}
@media(max-width: 1283px){
    .slider__block .slider {
        width: calc(100% - 552px);
    }
    .slick-slide{
        max-width: 543px !important;
        margin: 0 58px;
    }
    .text__slider {
        margin: 0 14px;
        width: calc(100% - 599px);
    }

    .next__arrow-header::before{
        bottom: 30px;
        right: 182px;
    }
    .prev__arrow-header::after{
        bottom: 30px;
        right: 100px;
    }
}
@media only scren and(max-width: 1283px) and (min-width: 738px ){
    .slider__block .slider img{
        min-width: 437px;
    }
}
@media(max-width: 1255px){
    .slider__block .slider__item::before{
        height: 70%;
    }
    .slider__block{
        margin-bottom: 102px;
    }
}
@media(max-width: 1180px){
    .text__slider .main__title-slider{
        font-size: 150px;
        line-height: 225px;
    }
    .slider__block{
        margin-bottom: 185px;
    }
    .text__slider .search__food{
        padding-left: 11px;
    }
    .text__slider .search__food::placeholder{
       font-size: 15px;
    }
    .next__arrow-header::before{
        bottom: 0px;
        right: 165px;
    }
    .prev__arrow-header::after{
        bottom: 0px;
        right: 80px;
    }
    .slider__block .slider img{
        height: 480px;
    }
}
@media only screen and (max-width: 1068px) and (min-width: 1283px){
    .slider__block .slider {
        width: calc(100% - 494px);
    }
}

@media only screen and(max-width: 1125px) and(min-width: 1085px){ 
    .text__slider .search__btn{
        right: 78px;
        width: 25%;
    }
}
@media only screen and(max-width: 1085px) and(min-width: 1050px){ 
    .text__slider .search__btn{
        right: 51px;
        width: 29%;
    }
}
@media only screen and(max-width: 1050px) and(min-width: 1030px){ 
    .text__slider .search__btn{
        right: 51px;
        min-width: 36%;
    }
}
@media only screen and(max-width: 1030px) and(min-width: 1010px){ 
    .text__slider .search__btn{
        right: 22px;
        min-width: 36%;
    }
}
@media only screen and(max-width: 1010px) and(min-width: 300px){ 
    .text__slider .search__btn{
    right: 0;
    min-width: 32%;
    }
    .container__btn-search{
        max-width: calc(100% - 80px);
    }
    .text__slider .search__food{
        max-width: 100%;
    }
}

@media (max-width: 1050px) {
    .slider__block .slider__item::before{
        height: 86%;
        top: 74px;
        left: 32px;
        width: 254px;
    }
    .text__slider .search__btn{
        // left: 291px;
        top: -87px;
        position: relative;
    }
    .slider__block .slider{
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 1050px) and(min-width: 825px){
    .next__arrow-header::before, .prev__arrow-header::after{
        bottom: -30px;
    }
}
@media only screen and (max-width: 1010px) and (min-width: 738px){
    .text__slider {
        width: calc(100% - 500px);
    }
}
@media (max-width: 965px){
    .slider__block .slider__item::before{
       width: 185px;
    }
    .text__slider .sub__title-slider {
        font-size: 2.5em;
        line-height: 47px;
    }
    .slider__block {
        margin-bottom: 95px;
    } 
    .text__slider {
        width: calc(100% - 485px);
    }
    .slider__block .slider {
        width: calc(100% - 438px);
    }
}

@media (max-width: 896px){
    .slider__block .slider img {
        max-height: 505px;
    }
    .slider__block .slider {
        min-width: calc(100% - 390px);
    }
}
@media (max-width: 875px){
    .text__slider{
        max-width: 350px;
    }
    .text__slider .sub__title-slider {
        font-size: 2em;
    }
    .text__slider .main__title-slider {
        font-size: 135px;
    }
    .text__slider .search__food {
        width: 305px;
    }
}
@media only screen and (max-width: 850px) and (min-width: 770px){
    .slider__block .slider img {
        min-width: 360px;
    }
    .slider__block .slider {
        min-width: calc(100% - 353px);
    }
}
@media only screen and (max-width: 825px) and(min-width: 745px){
    .next__arrow-header::before{
        right: 128px;
        bottom: -30px;
    }
    .prev__arrow-header::after{
        right: 39px;
        bottom: -30px;
    }
}
@media only screen and (max-width: 792px) and (min-width: 695px){ 
    .slider__block .slider img {
        min-width: 320px;
    } 
    .slider__block .slider {
        margin-left: 27px !important;
        width: calc(100% - 293px);
    }
    .slick-slide {
        margin: 0 51px;
    }
}
@media only screen and (max-width: 745px) and(min-width: 695px){
    .next__arrow-header::before{
        right: 84px;
        bottom: -30px;
    }
    .prev__arrow-header::after{
        right: 10px;
        bottom: -30px;
    }
}
@media (max-width: 725px){
    .slider__block .slider__item::before{
        width: 127px;
    }
}
@media (max-width: 700px){
    .text__slider {
        max-width: 290px;
    }
    .text__slider .sub__title-slider {
        font-size: 1.7em;
    }
    .text__slider .main__title-slider {
        font-size: 110px;
    }
    .text__slider .search__food {
        width: 293px;
    }
    .text__slider {
        width: calc(100% - 445px);
    }
}
@media only screen and (max-width: 695px) {
    .slick-slide {
        margin: 0 91px; 
  }
    .slider__block .slider {
    min-width: calc(100% - 250px);
    margin-left: 34px;

    }
    .slider__block .slider img {
        min-width: 250px;
        height: 406px;
        right: 32px;
        position: relative;
    } 
    .next__arrow-header::before{
        right: 78px;
        bottom: -30px;
    }
    .prev__arrow-header::after{
        right: 0;
        bottom: -30px;
    }
}
@media only screen  and (max-width: 635px){
    .slider__block .slider img {
        height: 369px;
        min-width: 252px;
    } 
    .slick-slide {
        margin: 0px 106px;
    }
    .next__arrow-header::before {
        right: 34px;
        bottom: -30px;
    }
    .prev__arrow-header::after {
        right: -49px;
        bottom: -30px;
    }
}
@media only screen  and (max-width: 599px){
.slider__block{
    flex-direction: column;
}
.slider__block .slider{
    width: 85%;
    margin: 0 auto;
}
.slider__block .slider img {
    height: auto;
    min-width: auto;
    width: auto;
    right: unset;
}
.slick-slide{
    margin: unset;
}
.slider__block .slider__item::before {
    width: 285px;
}
.text__slider{
    position: relative;
    margin-bottom: 3em;
}
.text__slider  .location__adaptive{
    display: block;
    position: absolute;
    left: -29px;
    bottom: -92px;
    width: 280px;
}
.text__slider .main__title-slider{
    font-size: 101px;
    line-height: 191px;
}
.text__slider .sub__title-slider{
    font-size: 36px;
    line-height: 32px;
}
.text__slider {
    width: 85%;
    max-width: 100%;
}
.text__slider .input__btn{
    width: 440px;
    max-width: calc(100% - 20px);
}
.text__slider .search__food {
    width: 430px;
    max-width: 100%;
    z-index: 0;
    display: block;
}

.text__slider .search__btn {
    background-color: #35CD8C;
    border: none;
    outline: none;
    color: #FFF5EC;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    height: 72px;
    border-radius: 60px 0px 0px 0px;
    display: block;
    max-width: 100%;
    // margin: -82px auto auto 201px;
    width: 46%;
    // position: unset;
}
.prev__arrow-header::after{
    content: "";
    background-image: url('../img/arrow-right-mobile.svg');
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 40px;
    height: 45px;
    right: -40px;
    z-index: 9999;
    bottom: 50px;
}
.next__arrow-header::before{
    content: "";
    background-image: url('../img/arrow-left-mobile.svg');
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 40px;
    height: 45px;
    z-index: 9999;
    bottom: 50px;
    right: 14px;
}


}

@media(max-width: 510px){
    .slider__block .slider__item::before {
        width: 230px;
    }
}
@media(max-width: 495px){
    .slider__block .slider{
        width: 80%;
    }

}
@media(max-width: 480px){
    .slider__block .slider__item::before {
        width: 190px;
        left: 0px;
    }
}

@media(max-width: 465px){
    .text__slider .sub__title-slider{
        font-size: 31px;
    }

}

@media(max-width: 430px) {
    .text__slider .main__title-slider{
        font-size: 89px;
    }
}

@media(max-width: 382px){
    .slider__block .slider{
        width: 75%;
    }
    .text__slider {
        margin-bottom: 4em;
    }
}
@media(max-width: 370px){
    .slider__block .slider{
        width: 70%;
    }
    .text__slider .sub__title-slider {
        font-size: 26px;
    }
}
@media only screen and(max-width: 520px) and(min-width: 488px){
    .text__slider .search__btn{
        width: 43%;
    }
}
@media only screen and(max-width: 488px) and(min-width: 456px){
    .text__slider .search__btn{
        width: 38%;
    }
}
@media only screen and(max-width: 456px) and(min-width: 430px){
    .text__slider .search__btn{
        width: 33%;
    }
}
@media only screen and(max-width: 430px) and(min-width: 412px){
    .text__slider .search__btn{
        width: 29%;
        font-size: 24px;
    }
}
@media only screen and(max-width: 412px) and(min-width: 396px){
    .text__slider .search__btn{
        width: 25%;
        font-size: 24px;
    }
}
@media only screen and(max-width: 396px) and(min-width: 383px){
    .text__slider .search__btn{ 
        width: 21%;
        font-size: 21px;
    }
}
@media only screen and(max-width: 383px) and(min-width: 370px){
    .text__slider .search__btn{ 
        width: 27%;
        font-size: 21px;
        margin: -82px auto auto 180px;
    }
}
@media only screen and(max-width: 370px) and(min-width: 300px){
    .text__slider .search__btn{ 
        width: 23%;
        font-size: 21px;
        margin: -82px auto auto 180px;
    }
}




.location__adaptive{
display: none;
background: #35CD8C;
border-radius: 0px 100px 100px 0px;
max-width: 280px;
height: 62px;
.location__name{
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    line-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    bottom: 12px;
    position: relative;
    &::before{
        content: "";
        background-image: url('../img/location.svg');
        width: 20px;
        height: 25px;
        position: absolute;
        left: 37px;
    }
}
}
@media(max-width: 1562px) {
.location{
 bottom: unset;
}
}
