.text__slider{
    padding: 0 98px;
    h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: 900;
        font-size: 200px;
        // line-height: 300px;
        text-transform: capitalize;
        opacity: 0.05;
    }
    h2{
        text-transform: capitalize;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        // line-height: 90px;
    }
}